* {
  font-family: Roboto, sans-serif;
}

body {
  background-color: black;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#score,
#result {
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

button {
  width: 320px;
  height: 320px;
  font-size: 48px;
  font-weight: 800;
  border: 8px solid gray;
  border-radius: 16px;
}

button:hover {
  background-color: lightgray;
}

button:active {
  background-color: darkgray;
}
